body {
  background-color: #212b47;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  height: 99vh;
}

header {
  background-color: #1d2334;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 6vh;
  height: 10vh;
  margin-bottom: 1%;
}

#back-section {
  height: 100%;
  width: 15%;
  display: flex;
  cursor: pointer;
}

#back-icon {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back-icon img {
  max-height: 80%;
  max-width: 80%;
  height: auto;
  width: auto;
}

#back-message {
  display: flex;
  align-items: center;
}

#inputs-section {
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#username {
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 50%;
  font-size: 40px;
}

#password {
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 50%;
  font-size: 40px;
}

#new-password {
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 50%;
  font-size: 40px;
}

#input-username {
  border: none;
  border-radius: 15px;
  height: 55%;
  background-color: #384b82;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding-left: 15px;
}

#input-password {
  border: none;
  border-radius: 15px;
  height: 55%;
  background-color: #384b82;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding-left: 15px;
}

#input-new-password {
  border: none;
  border-radius: 15px;
  height: 55%;
  background-color: #384b82;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding-left: 15px;
}

#submit-section {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit-update-password-button {
  border: none;
  border-radius: 15px;
  height: 80%;
  width: 25%;
  color: white;
  background-color: #384b82;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

#submit-update-password-button:hover {
  background-color: #354679;
}
